@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

.games-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.games-grid .game-time {
    grid-column: span 2;
    text-align: center;
    padding-bottom: 1rem;
}

.games-grid .player1 {
    text-align: right;
    padding-right: 2rem;
}

.games-grid .player2 {
    text-align: left;
    padding-left: 2rem;
}

.games-grid .player2.win {
    background: linear-gradient(to left, rgba(0, 255, 0, 70), rgba(0, 255, 0, 0));
}

.games-grid .player1.win {
    background: linear-gradient(to right, rgba(0, 255, 0, 70), rgba(0, 255, 0, 0));
}

.games-grid .player2.loss {
    background: linear-gradient(to left, rgba(255, 0, 0, 70), rgba(255, 0, 0, 0));
}

.games-grid .player1.loss {
    background: linear-gradient(to right, rgba(255, 0, 0, 70), rgba(255, 0, 0, 0));
}

.games-grid .player2.draw {
    background: linear-gradient(to left, rgba(255, 255, 0, 70), rgba(255, 255, 0, 0));
}

.games-grid .player1.draw {
    background: linear-gradient(to right, rgba(255, 255, 0, 70), rgba(255, 255, 0, 0));
}

/* Light */

.light {
    text-align: center;
}

.light h1 {
    font-weight: 800;
    font-size: 3rem;
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons button {
    border: 1px solid #e2e8f0;
    border-radius: 0.66rem;
    margin: 0 1rem 0 1rem;
    padding: 1rem;
}

.meter {
    display: flex;
    overflow: hidden;
    background-color: #e2e8f0;
    border-radius: 0.75rem;
    margin-bottom: 2rem;
    height: 4rem;
}

.meter span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #faf089;
    text-align: center;
    white-space: nowrap;
    font-weight: 700;
    font-size: 1.5rem;
    transition: width 2s ease;
}